* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.bg {
    background-color: #f1f1f1;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    border: none;
    background-color: inherit;
}
